@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
:root {
    --primary-color: #99a98f;
    --decent-color: #d6e8db;
    --accent-color: #fff;
    --secondary-color: #1cec1c;
    --font-family: 'Poppins', sans-serif;
    --text-color: gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    background-color: #fff;
    padding: 0.9%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    padding: 1rem 0.9%;
    background-color: var(--accent-color); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.menu-icon{
    padding: 6px 10px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
}

.search-box {
    align-items: center;
    flex: 1;
    padding: 0 1rem;
    background-color: var(--decent-color);
    border-radius: 10px;
}

.search-box i{
    color: var(--primary-color);
}

.search-box input{
    background-color: transparent;
    padding: 10px;
    width: 80%;
}

.menu-icons{
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-icons i{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--decent-color); 
}

.fa-shopping-cart{
    background: transparent !important;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.cart-icon span{
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    right: 15px;
    top: 15px;
}

/* cover section */

.cover{
    background-image: url(./images/background.jpg);
    background-size: cover;
    height: 50vh;
    background-position: center;
    border-radius: 10px;
    margin-top: 10px;
}

.cover-overlay{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}


/* section heading */

.section-heading{
    margin: 1rem 0 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
}

/* Product List Section */
.product-list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    gap: 20px; 
    justify-items: center; 
    margin: 1rem 0; 
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    padding: 15px; 
    border: 2px solid var(--decent-color); 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(252, 2, 2, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.product-item:hover {
    transform: translateY(-10px); /* Lift effect on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Enhanced hover shadow */
}

.product-item img {
    width: 100%; /* Maintain responsiveness */
    height: auto; /* Ensure image aspect ratio */
    border-radius: 10px; 
    margin-bottom: 10px; 
}

/* Card List Section */
.card-list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    gap: 20px; 
    margin: 1rem 0; 
}

.card {
    padding: 15px; 
    border: 1px solid var(--decent-color); 
    border-radius: 12px; 
    background-color: var(--decent-color); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
    transform: scale(1.03); /* Subtle zoom on hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow */
}

.card img {
    width: 100%; /* Full width for responsiveness */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; 
    margin-bottom: 15px; 
}

.card .card-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px; /* Space below title */
}

.card .card-description {
    font-size: 0.9rem;
    color: #666; 
    text-align: center;
    margin-bottom: 15px; /* Space below description */
}

.card .card-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 15px; /* Space below price */
}

.card .add-to-cart {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card .add-to-cart:hover {
    background-color: #17b817; 
}


/* cart sidebar section */

.sidebar{
    width: 300px;
    height: 100%;
    position:fixed;
    top: 0;
    /* right: 0; */
    right: -300px;
    background-color: var(--accent-color);
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.sidebar.open{
    right: 0;
}

.sidebar-close{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.cart-items{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid var(--decent-color);
    color: var(--text-color);
    font-weight: 600;
}

.cart-item-price{
    color: var(--primary-color);
    font-weight: 700;
}

.sidebar-footer{
    position: absolute;
    bottom: 10px;
    width: 88%;
}

.total-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--decent-color);
    border-radius: 5px;
    padding: 15px 10px;
}

.cart-total{
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
}

.checkout-btn{
    width: 100%;
    margin-top: 2rem;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-weight: 600;
    cursor: pointer;
}

/* Form Section */
.form-container {
    max-width: 400px;
    margin: 70px auto; 
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #555555;
}

.form-container input[type="text"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    width: 100%;
}

.form-container input[type="text"]:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.form-container input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #17b817;
}


/* Details Page */

/* Product Details Container */
.product-details {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    align-items: center;
    margin-top: 80px;
}

/* Product Image Section */
.product-details img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; 
}

/* Product Info Section */
.product-info {
    flex: 2; 
    text-align: left;
}

/* Product Name */
.product-info h1 {
    font-size: 28px;
    color: #444;
    margin-bottom: 10px;
}

/* Product Price */
.product-info p#productPrice {
    font-size: 24px;
    color: #e63946;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Product Description */
.product-info p#productDescription {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 30px;
}

/* Add to Cart Button */
.product-info .add-to-cart {
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-info .add-to-cart:hover {
    background-color: #17b817;
}

.final-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: var(--primary-color);
    font-weight: 300;
    margin-top: 70px;
}

.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i{
    color: #000;
    background-color: var(--decent-color);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}


/* Responsiveness */

/* Fixed media query syntax */
@media (max-width: 768px) {
    .payment-page .container {
        padding: 15px;
    }

    .payment-page h1 {
        font-size: 1.5rem;
    }

    .payment-page input[type="text"],
    .payment-page input[type="submit"] {
        font-size: 0.9rem;
    }
}

/* Mobile (Portrait) */
@media (max-width: 600px) {
    .header-navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .search-box {
        width: 100%;
        margin-bottom: 10px;
    }
    .menu-icons {
        width: 100%;
        justify-content: space-between;
    }
    .product-item {
        width: 100%;
    }
    .card-list {
        flex-direction: column;
        align-items: center;
    }
    .cart-sidebar {
        position: absolute;
        right: 0;
        width: 100%;
        top: 0;
        height: 100vh;
        padding: 10px;
    }
}

/* Tablet (Portrait) */
@media (min-width: 601px) and (max-width: 900px) {
    .product-list {
        justify-content: space-evenly;
    }
    .sidebar {
        width: 250px;
    }
}

